# ==========================
# Django
# ==========================

__pycache__/
*.py[cod]
*.pyc
*.pyo

.venv/
venv/
env/

.env
.env.docker
.env.production

db.sqlite3

media/
staticfiles/

*.log

# ==========================
# React
# ==========================

node_modules/
dist/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Docker
# ==========================

postgres_data/

# ==========================
# Python
# ==========================

.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/